.Rproj.user
.Rhistory
.RData
.Ruserdata
pkg/.Rproj.user
pkg/.Rhistory
pkg/.RData
pkg/.Ruserdata
test/discon/01_input
test/discon/02_protocol/.Rproj.user
test/discon/02_protocol/.Rhistory
test/discon/03_incremental
test/discon/04_product
test/offset/01_input
test/offset/02_protocol/.Rproj.user
test/offset/02_protocol/.Rhistory
test/offset/03_incremental
test/offset/04_product
